* {
	margin: 0px;
	padding: 0px;
}
body {
	min-width: 320px;
}
header {
	max-width: 100vw;
	margin: 0px auto;
	height: 100%;
	position: relative;
}
header > img {
	width: 100%;
	height: auto;
}
header > div {
	width: 540px;
	background-color: #8dc6dc;
	color: white;
	font-size: 14px;
	position: absolute;
	z-index: 1;
	margin-top: 12%;
	bottom: 35%;
	left: 4%;
}
header > div > p {
	margin-left: 16px;
	width: 75%;
}
header > div > p:first-of-type {
	margin-top: 23px;
	margin-bottom: 16px;
	font-size: 48px;
	font-family: openSansCondensed-Light;
	text-transform: uppercase;
}
header > div > p:first-of-type + p {
	font-family: openSans-Light;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 13px;
}
header > div > p:last-of-type {
	font-size: 14px;
	font-family: openSans-Light;
	margin-bottom: 20px;
	line-height: 18px;
}
header > div > button {
	display: table-caption;
	border: 1px solid #e7f3f8;
	width: 140px;
	height: 40px;
	margin: auto;
	margin-bottom: 25px;
	border-radius: 10px;
	color: white;
	font-family: openSans-Semibold;
	background-color: inherit;
}
header > div > button:hover {
	background-color: #73bcda;
}
main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main > .socialNetworks {
	height: 40px;
	width: 100%;
	background-color: #00bff0;
}
main > .socialNetworks > .wrapper {
	max-width: 1170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin: auto;
	height: inherit;
}
main > .socialNetworks > .wrapper > div {
	display: flex;
	flex-direction: row;
	color: white;
	font-size: 12px;
	font-family: openSans-Regular;
}
main > .socialNetworks > .wrapper > div:first-of-type > img {
	margin-right: 10px;
	cursor: pointer;
}
main > .socialNetworks > .wrapper > div:last-of-type > img {
	margin-right: 15px;
	cursor: pointer;
}
main > .menu {
	width: 100%;
	height: 100px;
	background-color: #72d0f4;
}
main > .menu > .wrapper {
	max-width: 1170px;
	margin: auto;
	height: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
#menu_but {
	cursor: pointer;
	font-size: 25px;
	color: white;
	position: absolute;
	opacity: 0;
}
main > .menu > .wrapper > .menuContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}
main > .menu > .wrapper > div:last-of-type > p {
	color: white;
	font-size: 13px;
	font-family: openSans-Semibold;
	padding: 20px;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 5px;
	border: 1px solid #72d0f4;
}
main > .menu > .wrapper > div:last-of-type > p:hover {
	border: 1px solid #e1f5fd;
}
main > .menu > .wrapper > div:first-of-type > img {
	cursor: pointer;
}
main > .menu > .wrapper > .menuContainer {
	position: relative;
}
main > .menu > .wrapper > .menuContainer > p > img {
	margin-right: 10px;
}
main > .menu > .wrapper > .menuContainer > div {
	background-image: url("../img/bg sub menu.png");
	background-size: 100% 100%;
	width: 200px;
	position: absolute;
	top: 109%;
	left: 41.5%;
	display: none;
}
main > .menu > .wrapper > .menuContainer > div > p {
	color: #72d0f4;
	font-size: 13px;
	font-family: openSans-Semibold;
	width: 95%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 10px auto;
	cursor: pointer;
	border: 1px solid white;
}
main > .menu > .wrapper > .menuContainer > div > p:hover {
	background-color: #72d0f4;
	color: white;
	border-color: #72d0f4;
	border-radius: 5px;
}
main > .menu > .wrapper > .menuContainer > div > p > img {
	margin-right: 9px;
	margin-left: 14px;
	transform: rotateZ(270deg);
}
main > .intro {
	background-color: #f3f3f3;
	width: 100%;
	margin: auto;
}
main > .intro > .wrapper {
	max-width: 1170px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
main > .intro > .wrapper > p:first-of-type {
	margin-top: 125px;
	margin-bottom: 20px;
	color: #505961;
	font-size: 38px;
	font-family: openSans-Light;
	margin-right: 4%;
	text-align: center;
}
main > .intro > .wrapper > p:last-of-type {
	margin-bottom: 90px;
	max-width: 550px;
	color: #8b9297;
	font-size: 16px;
	font-family: openSans-Light;
	text-align: center;
	margin-right: 0px;
	line-height: 24px;
}
main > .live {
	width: 100%;
	background-color: #f3f3f3;
}
main > .live > .wrapper {
	margin: auto;
	background-color: inherit;
	max-width: 1170px;
	display: grid;
	grid-template-areas: "A B C";
}
main > .live > .wrapper > div:first-of-type {
	grid-area: A;
}
main > .live > .wrapper > div:first-of-type + div {
	grid-area: B;
}
main > .live > .wrapper > div:last-of-type {
	grid-area: C;
} 
main > .live > .wrapper > div {
	width: 370px;
	height: 255px;
	border-bottom: 4px solid #00bff0;
	margin-bottom: 75px;
}
main > .live > .wrapper > div > .title {
	height: 50px;
	width: 100%;
	background-color: #72d0f4;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
main > .live > .wrapper > div > .title > p:first-of-type {
	font-size: 18px;
	font-family: openSans-Semibold;
	margin-left: 20px;
	text-transform: uppercase;
}
main > .live > .wrapper > div > .title > p:first-of-type > span {
	font-family: openSans-Italic;
}
main > .live > .wrapper > div > .title > p:last-of-type {
	font-size: 11px;
	font-family: openSans-Bold;
	margin-right: 16px;
}
main > .live > .wrapper > div > iframe {
	width: 100%;
	height: 205px;
}
main > .classes_trainers {
	width: 100%;
	background-color: #f3f3f3;
}
main > .classes_trainers > .wrapper {
	max-width: 1170px;
	margin: auto;
	display: grid;
	grid-template-areas: "title_a title_a title_b" "A B C";
}
main > .classes_trainers > .wrapper > p {
	font-size: 30px;
	color: #57cbf4;
	font-family: openSansCondensed-Light;
	margin-bottom: 25px;
	text-align: center;
	text-transform: uppercase;
}
main > .classes_trainers > .wrapper > p:first-of-type {
	grid-area: title_a;
}
main > .classes_trainers > .wrapper > p:last-of-type {
	grid-area: title_b;
}
main > .classes_trainers > .wrapper > div {
	margin-bottom: 80px;
	height: 250px;
}
main > .classes_trainers > .wrapper > div:first-of-type, main > .classes_trainers > .wrapper > div:first-of-type + div {
	background-color: #72d0f4;
	max-width: 380px;
	width: 100%;
	color: white;
	font-size: 14px;
	font-family: openSans-Regular;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
}
main > .classes_trainers > .wrapper > div:first-of-type {
	grid-area: A;
}
main > .classes_trainers > .wrapper > div:first-of-type + div {
	grid-area: B;
}
main > .classes_trainers > .wrapper > div:last-of-type {
	background-color: #00bff0;
	grid-area: C;
	max-width: 370px;
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
main > .classes_trainers > .wrapper > div > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 60px;
	align-items: center;
	margin: 0px 30px;
	border-bottom: 1px solid white;
}
main > .classes_trainers > .wrapper > div > div:last-of-type {
	margin-bottom: 18px;
}
main > .classes_trainers > .wrapper > div > div > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}
main > .classes_trainers > .wrapper > div > div > div:first-of-type > img {
	margin-right: 7px;
	cursor: pointer;
}
main > .classes_trainers > .wrapper > div > div > div:last-of-type > img {
	margin-right: 22px;
	cursor: pointer;
}
main > .classes_trainers > .wrapper > div > div > div:last-of-type > img:last-of-type {
	margin: 0px;
}
main > .classes_trainers > .wrapper > div:last-of-type > p:first-of-type {
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	font-family: openSans-Regular;
	margin: 60px 0px 0px;
}
main > .classes_trainers > .wrapper > div:last-of-type > p:last-of-type {
	width: 250px;
	margin: 23px auto;
	font-size: 16px;
	font-family: openSans-Light;
	line-height: 24px;
	text-align: center;
}
main > .classes_trainers > .wrapper > div:last-of-type > button {
	color: white;
	width: 84px;
	height: 39px;
	border: 1px solid #c9f1fc;
	background-color: inherit;
	border-radius: 5px;
	align-self: center;
}
.classes_trainers_bottom {
	width: 100%;
	background-color: #f3f3f3;
}
.classes_trainers_bottom > .wrapper {
	max-width: 1170px;
	margin: 0px auto 85px;
	display: grid;
	grid-template-areas: "A B C" "a b c";
	justify-content: space-around;
}
.classes_trainers_bottom > .wrapper > p {
	font-size: 30px;
	color: #57cbf4;
	font-family: openSansCondensed-Light;
	margin-bottom: 25px;
	text-align: center;
	text-transform: uppercase;
}
.classes_trainers_bottom > .wrapper > div {
	max-width: 370px;
}
.classes_trainers_bottom > .wrapper > p:first-of-type {
	grid-area: A;
}
.classes_trainers_bottom > .wrapper > p:first-of-type + p {
	grid-area: B;
}
.classes_trainers_bottom > .wrapper > p:last-of-type {
	grid-area: C;
}
.classes_trainers_bottom > .wrapper > div:first-of-type {
	grid-area: a;
}
.classes_trainers_bottom > .wrapper > div:first-of-type + div {
	grid-area: b;
}
.classes_trainers_bottom > .wrapper > div:last-of-type {
	grid-area: c;
}
.classes_trainers_bottom > .wrapper > div:first-of-type {
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.classes_trainers_bottom > .wrapper > div:first-of-type > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.classes_trainers_bottom > .wrapper > div:first-of-type > div > img {
	margin-right: 20px;
	margin-left: 9px;
	cursor: pointer;
	height: 36px;
}
.classes_trainers_bottom > .wrapper > div:first-of-type > div > div > img {
	width: 80px;
	height: 80px;
	margin-top: 35px;
	margin-bottom: 10px;
	border-radius: 45px;
	cursor: pointer;
}
.classes_trainers_bottom > .wrapper > div:first-of-type > div > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.classes_trainers_bottom > .wrapper > div:first-of-type > div > div > p {
	text-align: center;
}
.classes_trainers_bottom > .wrapper > div:first-of-type > .border {
	height: 180px;
	width: 1px;
	background-color: #a9ddf1;
	margin: 0px 20px;
}
.classes_trainers_bottom > .wrapper > div:first-of-type > div > div > p:first-of-type {
	color: #72d0f4;
	font-size: 14px;
	font-family: openSans-Bold;
	text-transform: uppercase;
}
.classes_trainers_bottom > .wrapper > div:first-of-type > div > div > p:first-of-type + p {
	color: #72d0f4;
	font-size: 12px;
	font-family: openSans-Italic;
	text-transform: uppercase;
	margin: 7px 0px 12px;
}
.classes_trainers_bottom > .wrapper > div:first-of-type > div > div > p:last-of-type {
	color: #606060;
	font-size: 12px;
	font-family: openSans-Italic;
}
.classes_trainers_bottom > .wrapper > div:first-of-type > div > div > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: 13px 0px 24px;
}
.classes_trainers_bottom > .wrapper > div:first-of-type > div > div > div > div > img {
	cursor: pointer;
}
.classes_trainers_bottom > .wrapper > div:first-of-type + div {
	background-color: #a5e5fe;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.classes_trainers_bottom > .wrapper > div:first-of-type + div > div {
	display: flex;
	flex-direction: row;
	margin: 15px 30px 0px;
	justify-content: space-between;
}
.classes_trainers_bottom > .wrapper > div:first-of-type + div > div:first-of-type + div {
	width: 280px;
	height: 1px;
	background-color: #d1f2fe;
}
.classes_trainers_bottom > .wrapper > div:first-of-type + div > div > div:first-of-type > p {
	color: white;
	font-size: 16px;
	font-family: openSans-Bold;
}
.classes_trainers_bottom > .wrapper > div:first-of-type + div > div > div > img {
	width: 120px;
	height: 70px;
	margin-top: 8px;
	cursor: pointer;
}
.classes_trainers_bottom > .wrapper > div:first-of-type + div > div > div:last-of-type > p:first-of-type {
	font-size: 10px;
	color: #fe0000;
	font-family: openSans-Bold;
}
.classes_trainers_bottom > .wrapper > div:first-of-type + div > div > div:last-of-type > p {
	text-align: center;
}
.classes_trainers_bottom > .wrapper > div:first-of-type + div > div > div:last-of-type > p:first-of-type + p {
	color: #292929;
	font-size: 18px;
	font-family: openSans-Regular;
	margin-top: 8px;
	margin-bottom: 8px;
}
.classes_trainers_bottom > .wrapper > div:first-of-type + div > div > div:last-of-type > p:last-of-type {
	color: #252525;
	font-size: 12px;
	font-family: openSans-Regular;
	max-width: 155px;
	margin-bottom: 5px;
}
.classes_trainers_bottom > .wrapper > div:first-of-type + div > div > div:last-of-type > button {
	font-size: 10px;
	color: #fe0000;
	font-family: openSans-Semibold;
	background-color: #a5e5fe;
	margin: auto;
	border: 1px solid #3f4c51;
	cursor: pointer;
	padding: 5px;
	width: 85px;
	border-radius: 5px;
}
.classes_trainers_bottom > .wrapper > div:first-of-type + div > div > div {
	display: flex;
	flex-direction: column;
}
.classes_trainers_bottom > .wrapper > div:first-of-type + div > div:last-of-type > div:last-of-type > button {
	margin-bottom: 15px;
}
.classes_trainers_bottom > .wrapper > div:last-of-type {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #72d0f4;
}
.classes_trainers_bottom > .wrapper > div:last-of-type > div {
	display: flex;
	flex-direction: row;
	margin: 10px 20px; 
}
.classes_trainers_bottom > .wrapper > div:last-of-type > div > img {
	width: 70px;
	height: 70px;
	border-radius: 5px;
	margin-right: 18px;
	cursor: pointer;
}
.classes_trainers_bottom > .wrapper > div:last-of-type > div > p {
	color: white;
	line-height: 19.5px;
	font-size: 13px;
	font-family: openSans-Regular;
}
.classes_trainers_bottom > .wrapper > div:last-of-type > div > p > span {
	color: black;
}
.gallery {
	width: 100%;
	background-color: #e6e6e6;
}
.gallery > .wrapper {
	max-width: 1170px;
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: space-around;
}
.gallery > .wrapper > .galleryCh, .gallery > .wrapper > .partner {
	display: flex;
	flex-direction: column;
	margin-bottom: 115px;
	align-items: center;
}
.gallery > .wrapper > .galleryCh > p, .gallery > .wrapper > .partner > p {
	color: #57cbf4;
	font-size: 30px;
	font-family: openSansCondensed-Light;
	margin-top: 40px;
	margin-bottom: 25px;
}
.gallery > .wrapper > .galleryCh > div {
	display: flex;
	flex-direction: row;
	position: relative;	
}
.gallery > .wrapper > .galleryCh > div > div {
	position: absolute;
	background-color: white;
	opacity: 0.6;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 35px;
	cursor: pointer;
}
.gallery > .wrapper > .galleryCh > div > img {
	max-width: 255px;
	max-height: 170px;
	margin: 2px;
}
.gallery > .wrapper > .galleryCh > div > div:hover {
	opacity: 1;
}
.gallery > .wrapper > .galleryCh > div > div > img {
	width: 20px;
	height: 36px;
}
.gallery > .wrapper > .partner > div {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}
#leftPointer {
	top: 80.5%;
	z-index: 1;
	left: 2%;
}
#rightPointer {
	left: 90%;
	bottom: 82.5%;
	z-index: 1;
}
.map {
	width: 100%;
	height: 500px;
	position: relative;
}
#map {
	width: 100%;
	height: 500px;
}
.map > .calendar {
	background-color: #72d0f4;
	height: 500px;
	width: 370px;
	position: absolute;
	bottom: 0%;
	right: 5%;
	opacity: 0.7;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.map > .calendar > p:first-of-type {
	color: white;
	font-size: 30px;
	font-family: openSansCondensed-Light;
	margin: 30px 0px 20px;
}
.map > .calendar > p:first-of-type > span {
	font-family: openSans-Semibold;
}
.map > .calendar > div {
	display: flex;
	flex-direction: row;
	height: 45px;
	width: 320px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid white;
}
.map > .calendar > div > p {
	color: white;
	font-size: 14px;
	font-family: openSans-Semibold;
}
.map > .calendar > div > p > img {
	margin-right: 12px;
}
#fuck {
	width: 290px;
	color: white;
	font-size: 16px;
	font-family: openSans-Regular;
	margin-top: 28px;
	text-align: center;
}
.map > .calendar > p:last-of-type {
	color: white;
	font-size: 30px;
	font-family: openSans-SemiboldItalic;
	margin-top: 30px;
	margin-bottom: 30px;
}
.twitterBox {
	width: 100%;
	height: 300px;
	background-color: #f3f3f3;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.twitterBox > img {
	margin-right: 50px;
	cursor: pointer;
	width: 90px;
	height: 79px;
}
.twitterBox > p {
	max-width: 650px;
	color: #00bff0;
	font-size: 14px;
	font-family: openSans-Regular;
	line-height: 22px;
}
.twitterBox > p > span { 
	color: #0056a4;
}
footer {
	width: 100%;
	display: flex;
	flex-direction: column;
}
footer > .wrapper_1 {
	width: 100%;
	background-color: #72d0f4;
}
footer > .wrapper_2 {
	width: 100%;
	background-color: #00bff0;
}
footer > .wrapper_1 > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1170px;
	margin: auto;
	color: white;
}
footer > .wrapper_1 > div > div {
	max-width: 350px;
	display: flex;
	flex-direction: column;
	margin-top: 45px;
	margin-bottom: 60px;
}
footer > .wrapper_2 > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	max-width: 1170px;
	margin: auto;
}
footer > .wrapper_2 > div > div {
	display: flex;
	flex-direction: row;
}
footer > .wrapper_2 > div > div:first-of-type > img {
	margin-right: 5px;
}
footer > .wrapper_2 > div > div:first-of-type > p {
	color: white;
	font-size: 12px;
	font-family: openSans-Regular;
}
footer > .wrapper_2 > div > div:last-of-type > img {
	margin-right: 15px;
	cursor: pointer;
}
footer > .wrapper_1 > div > .newsletter > p:first-of-type {
	font-size: 18px;
	font-family: openSans-Regular;
	text-transform: uppercase;
	margin-bottom: 30px;
}
footer > .wrapper_1 > div > .newsletter > p:last-of-type {
	font-size: 14px;
	font-family: openSans-Semibold;
	text-transform: uppercase;
	line-height: 18px;
	max-width: 215px;
	margin-bottom: 18px;
}
footer > .wrapper_1 > div > .newsletter > form {
	display: flex;
	flex-direction: column;
}
footer > .wrapper_1 > div > .newsletter > form > input {
	background-color: #b9e8fa;
	color: #00afec;
	font-size: 12px;
	font-family: openSans-Regular;
	height: 35px;
	width: 335px;
	border: 1px solid #39bff0;
	padding-left: 25px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
footer > .wrapper_1 > div > .newsletter > form > button {
	height: 35px;
	width: 210px;
	background-color: #e25050;
	color: white;
	font-size: 12px;
	font-family: openSans-Regular;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
}
footer .wrapper_1 div .contactInfo img {
	align-self: center;
	margin-bottom: 25px;
}
footer .wrapper_1 div .contactInfo p:first-of-type {
	font-size: 13px;
	font-family: openSans-Regular;
	line-height: 23.4px;
	margin-bottom: 30px;
}
footer .wrapper_1 div .contactInfo p:first-of-type + p {
	margin-bottom: 15px;
}
footer .wrapper_1 div .contactInfo p:first-of-type + p, footer .wrapper_1 div .contactInfo p:last-of-type {
	font-size: 13px;
	font-family: openSans-Regular;
}
footer .wrapper_1 div .contactInfo p:first-of-type + p span, footer .wrapper_1 div .contactInfo p:last-of-type span {
	font-size: 20px;
	font-family: openSans-SemiboldItalic;
	margin-left: 20px;
}
footer > .wrapper_1 > div .memuCompany > p, footer .wrapper_1 div .community > p {
	font-size: 18px;
	font-family: openSans-Regular;
	margin-bottom: 30px;
}
footer > .wrapper_1 > div .memuCompany > ol, footer .wrapper_1 div .community ol {
	list-style-image: url("../img/list_style.png");
}
footer > .wrapper_1 > div .memuCompany > ol > li, footer .wrapper_1 div .community ol li {
	font-size: 13px;
	font-family: openSans-Regular;
	margin-bottom: 14px;
}
@media screen and (max-width: 1150px) {
	main > .live > .wrapper {
		grid-template-areas: "A B" "C C";
		justify-content: space-around;
	}
	main > .live > .wrapper > div:last-of-type {
		justify-self: center;
	}
	main > .live > .wrapper > div:first-of-type, main > .live > .wrapper > div:first-of-type + div {
		margin-bottom: 25px;
	}
	main > .classes_trainers > .wrapper {
		grid-template-areas: "title_a title_a" "A B" "title_b title_b" "C C";
		justify-content: space-around;
	}
	main > .classes_trainers > .wrapper > div:last-of-type {
		justify-self: center;
	}
	main > .classes_trainers > .wrapper > div {
		margin-bottom: 40px;
	}
	.classes_trainers_bottom > .wrapper {
		grid-template-areas: "A B" "a b" "C C" "c c";
	}
	.classes_trainers_bottom > .wrapper > div:last-of-type {
		justify-self: center;
	}
	.classes_trainers_bottom > .wrapper > p:last-of-type {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 960px) {
	header > div {
		width: 415px;
	}
	header > div > p {
		width: auto;
	}
	header > div > p:first-of-type {
		font-size: 38px;
		margin-top: 15px;
		margin-bottom: 10px;
	}
	header > div > p:first-of-type + p {
		font-size: 18px;
	}
	header > div > button {
		height: 35px;
		margin-bottom: 20px;
	}
	main > .menu > .wrapper > div:first-of-type {
		display: none;
	}
	.gallery > .wrapper {
		flex-direction: column;
	}
	.gallery > .wrapper > .galleryCh {
		margin-bottom: 0px;
	}
	.gallery > .wrapper > .partner > div {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}
	.gallery > .wrapper > .partner {
		margin-bottom: 40px;
	}
	.map > .calendar {
		right: 8%;
	}
	footer > .wrapper_1 > div > .newsletter > form > input {
		width: 185px;
	}
}
@media screen and (max-width: 790px) {
	.gallery > .wrapper > .galleryCh > div {
		flex-direction: column;
	}
	#leftPointer, #rightPointer {
		display: none;
	}
	.gallery > .wrapper > .partner > div {
		flex-direction: column;
		height: 365px;
	}
	main > .classes_trainers > .wrapper {
		grid-template-areas: "title_a" "A" "B" "title_b" "C";
	}
	footer > .wrapper_1 > div > .community, footer > .wrapper_1 > div > .memuCompany {
		display: none;
	}
	footer > .wrapper_1 > div {
		justify-content: space-around;
	}
}	
@media screen and (max-width: 760px) {
	header {
		display: none;
	}
	main > .menu > .wrapper > div:last-of-type {
		width: 100%;
		justify-content: space-around;
	}
	main > .menu > .wrapper > div:last-of-type > p {
		padding: 0px;
		border: none;
	}
	main > .menu > .wrapper > div:last-of-type > p:hover {
		border: none;
	}
	main > .socialNetworks {
		display: none;
	}
	main > .intro > .wrapper {
		align-items: center;
	}
	main > .intro > .wrapper > p:first-of-type {
		margin-right: 0px;
		margin-top: 105px;
	}
	main > .intro > .wrapper > p:last-of-type {
		margin-right: 0px;
		margin-bottom: 75px;
	}
	main > .live > .wrapper {
		grid-template-areas: "A" "B" "C";
		justify-content: center;
	}
	main > .live > .wrapper > div {
		margin-bottom: 50px;
	}
	.classes_trainers_bottom > .wrapper {
		grid-template-areas: "A" "a" "B" "b" "C" "c";
	}
	.classes_trainers_bottom > .wrapper > p:first-of-type + p {
		margin-top: 25px;
	}
	.classes_trainers_bottom > .wrapper > div {
		min-width: 300px;
	}
}
@media screen and (max-width: 640px) {
	.map > .calendar {
		right: 15%;
	}
	footer > .wrapper_1 > div > .newsletter {
		margin-right: 20px;
	}
}
@media screen and (max-width: 480px) {
	main > .menu > .wrapper > .menuContainer {
		display: none;
		flex-direction: column;
		width: 100%;
		align-items: center;
	}
	main > .menu {
		height: auto;
	}
	main > .menu > .wrapper > div:last-of-type > p {
		margin: 10px 0px;
	}
	main > .menu > .wrapper > div:first-of-type {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin: 15px;
	}
	#menu_but {
		position: inherit;
		opacity: 1;
		margin-right: 15px;
	}
	main > .menu > .wrapper > .menuContainer {
		display: none;
	}
	main > .menu > .wrapper {
		flex-direction: column;
	}
	main > .menu > .wrapper > div:first-of-type > img {
		margin-left: 15px;
	}
	main > .live > .wrapper > div {
		max-width: 370px;
		width: auto;
	}
	#map {
		display: none;
	}
	.map > .calendar {
		position: initial;
		margin: auto;
		max-width: 370px;
		width: auto;
	}
	footer > .wrapper_1 > div {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.wrapper_1 > div > .newsletter {
		margin-right: 0px;
	}
	footer > .wrapper_1 > div > .contactInfo {
		margin-top: 0px;
	}
	footer > .wrapper_2 > div {
		justify-content: space-around;
	}
}
@font-face {
	font-family: openSans-SemiboldItalic;
	src: url("../fonts/openSans/OpenSans-SemiboldItalic.ttf");
}
@font-face {
	font-family: openSansCondensed-Light;
	src: url("../fonts/openSansCondensed/OpenSansCondensed-Light.ttf");
}
@font-face {
	font-family: openSans-Light;
	src: url("../fonts/openSans/OpenSans-Light.ttf");
}
@font-face {
	font-family: openSans-Semibold;
	src: url("../fonts/openSans/OpenSans-Semibold.ttf");
}
@font-face {
	font-family: openSans-Regular;
	src: url("../fonts/openSans/OpenSans-Regular.ttf");
}
@font-face {
	font-family: openSans-Italic;
	src: url("../fonts/openSans/OpenSans-Italic.ttf");
}
@font-face {
	font-family: openSans-Bold;
	src: url("../fonts/openSans/OpenSans-Bold.ttf");
}